.App {
  /*  background: url("./img/city.jpg") no-repeat fixed center;
  height: 100vw;
  width: 100%;
  text-align: center;
  background-size: cover;
  position: relative;
  object-fit: contain; */
}
